<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Player</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
<body>
<div class="player">
  <!-- Dashboard -->
  <div class="dashboard">
    <!-- Header -->
    <header>
      <h4>Now playing:</h4>
      <h2>String 57th & 9th</h2>
    </header>

    <!-- CD -->
    <div class="cd">
      <div class="cd-thumb" style="background-image: url('https://i.ytimg.com/vi/jTLhQf5KJSc/maxresdefault.jpg')">
      </div>
    </div>

    <!-- Control -->
    <div class="control">
      <div class="btn btn-random">
        <i class="fas fa-random"></i>
      </div>
      <div class="btn btn-repeat">
        <i class="fas fa-redo"></i>
      </div>
      <div class="btn btn-prev">
        <i class="fas fa-step-backward"></i>
      </div>
      <div class="btn btn-toggle-play">
        <i class="fas fa-pause icon-pause"></i>
        <i class="fas fa-play icon-play"></i>
      </div>
      <div class="btn btn-next">
        <i class="fas fa-step-forward"></i>
      </div>
      <div class="btn btn-plus">
        <i class='fas fa-plus'></i>
      </div>
      <div class="btn btn-volume">
        <i class="fas fa-volume-mute icon-mute"></i>
        <i class="fas fa-volume-off icon-off"></i>
        <i class="fas fa-volume-down icon-down"></i>
        <i class="fas fa-volume-up icon-up"></i>
        <input id="volume" class="volume" type="range" value="50" min="0" max="100">
      </div>
    </div>

    <input id="progress" class="progress" type="range" value="0" step="1" min="0" max="100">

    <audio id="audio" src=""></audio>
  </div>

  <!-- Playlist -->
  <div class="playlist">
    <div class="song">
      <div class="thumb" style="background-image: url('https://i.ytimg.com/vi/jTLhQf5KJSc/maxresdefault.jpg')">
      </div>
      <div class="body">
        <h3 class="title">Music name</h3>
        <p class="author">Singer</p>
      </div>
      <div class="option">
        <i class="fas fa-ellipsis-h"></i>
      </div>
    </div>
    <div class="song">
      <div class="thumb" style="background-image: url('https://i.ytimg.com/vi/jTLhQf5KJSc/maxresdefault.jpg')">
      </div>
      <div class="body">
        <h3 class="title">Music name</h3>
        <p class="author">Singer</p>
      </div>
      <div class="option">
        <i class="fas fa-ellipsis-h"></i>
      </div>
    </div>
    <div class="song">
      <div class="thumb" style="background-image: url('https://i.ytimg.com/vi/jTLhQf5KJSc/maxresdefault.jpg')">
      </div>
      <div class="body">
        <h3 class="title">Music name</h3>
        <p class="author">Singer</p>
      </div>
      <div class="option">
        <i class="fas fa-ellipsis-h"></i>
      </div>
    </div>
  </div>
</div>
<div class="modal js-modal">
  <div class="modal-contaniner js-modal-contaniner">
    <div class="modal-close js-modal-close">
      <i class="fas fa-times"></i>
    </div>
    <header class="modal-header">
      <i class="fas fa-music"></i> Add music
    </header>

<!--    thêm nhạc bằng cách lấy file mp3 từ máy tính-->
    <form action="" method="POST" class="modal-body">
      <label for="name-music" class="modal-label">
        <i class="fas fa-music"></i>
        Name music
      </label>
      <input type="text" id = "name-music" class="modal-input" placeholder="Name music">
      <label for="singer" class="modal-label">
        <i class="fas fa-user"></i>
        Singer
      </label>
      <input type="text" id = "singer" class="modal-input" placeholder="Singer">
      <label for="path" class="modal-label">
        <i class="fas fa-file-audio"></i>
        Path
      </label>
      <input type="file" id = "path" class="modal-input" placeholder="Path">
      <label for="image" class="modal-label">
        <i class="fas fa-image"></i>
        Image
      </label>
      <input type="text" id = "image" class="modal-input" placeholder="Image">
      <button id="add-music">
        ADD
        <i class="ti-check"></i>
      </button>
    </form>

<!--    thêm nhạc bằng cách lấy link mp3-->
<!--    <div class="modal-body">-->
<!--      <label for="name-music" class="modal-label">-->
<!--        <i class="fas fa-music"></i>-->
<!--        Name music-->
<!--      </label>-->
<!--      <input type="text" id = "name-music" class="modal-input" placeholder="Name music">-->
<!--      <label for="singer" class="modal-label">-->
<!--        <i class="fas fa-user"></i>-->
<!--        Singer-->
<!--      </label>-->
<!--      <input type="text" id = "singer" class="modal-input" placeholder="Singer">-->
<!--      <label for="path" class="modal-label">-->
<!--        <i class="fas fa-file-audio"></i>-->
<!--        Path-->
<!--      </label>-->
<!--      <input type="file" id = "path" class="modal-input" placeholder="Path">-->
<!--      <label for="image" class="modal-label">-->
<!--        <i class="fas fa-image"></i>-->
<!--        Image-->
<!--      </label>-->
<!--      <input type="text" id = "image" class="modal-input" placeholder="Image">-->
<!--      <button id="add-music">-->
<!--        ADD-->
<!--        <i class="ti-check"></i>-->
<!--      </button>-->
<!--    </div>-->

  </div>
</div>
<script src="/js/main.js"></script>
</body>
</html>